linux/flutter/generated_plugin_registrant.cc linguist-generated=true
linux/flutter/generated_plugin_registrant.h linguist-generated=true
linux/flutter/generated_plugins.cmake linguist-generated=true
windows/flutter/generated_plugin_registrant.cc linguist-generated=true
windows/flutter/generated_plugin_registrant.h linguist-generated=true
windows/flutter/generated_plugins.cmake linguist-generated=true
macos/Flutter/GeneratedPluginRegistrant.swift linguist-generated=true
